<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome page</title>

<link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">


</head>
<body>
  <h1>Ski Tracker</h1>

<source >

  <div class = 'welcome_button' id = 'sign-in'>Sign In</div>

  <div class = 'welcome_button' id = 'sign-up'>Sign up</div>

  <div class = 'welcome_button' id = 'geust'>Enter as geust</div>

  <div class = 'welcome_button' id = 'mountain-show'>Check the mountains out</div>





</body>
</html>
