<h1>Create New Run for <%= @mountain.name %></h1>

<% if @run.errors.any? %>
<ol>
  <% @run.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ol>
<% end %>

<%= render partial: 'form' %>
